#ifndef WIFI_CONFIG_H
#define WIFI_CONFIG_H

#define WIFI_SSID     "tu-ssid"
#define WIFI_PASSWORD "tu-password"

#define LOCAL_IP      192,168,0,XXX
#define GATEWAY       192,168,0,1
#define SUBNET        255,255,255,0
#define DNS_PRIMARY   8,8,8,8

#define MQTT_BROKER     "cernikiw3.chickenkiller.com"
#define MQTT_PORT       1883
#define MQTT_TOPIC      "estado-puerta"
#define MQTT_CLIENT_ID  "esp32-cam-puerta"

#endif
